.wrapper{

    border-bottom: solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }
    .searchWrapper{

    }

    .logo{
        width: 80px;

    }
