 @import '../../mixins.module.scss';

.wrapper {
  @include ligth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px wheat;
  border-right: solid 1px wheat;
  background-color: white;
  width: 70vw;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
padding-top: 1vw;
padding-bottom: 1vw;
}

.dark,wrapper  {
  @include dark;
}

.logoAndSearch {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;

}

.logo {
  width: 6vw;
    margin-left: 12vw;
    margin-right: 2vw;
}


.searchline {
  width: 30vw;
  height: 3vw;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 1vw;
  color: black;
}
.searchline::placeholder{
  color: black;
}
.searchline:focus
{
   outline: none;
}
.timeItems {
  width: 15vw;
  margin-right: 1vw;
font-size:0.7vw;
font-weight: bold;
}


.clockLogo {
  width: 1.5vw;
}

.searchline:hover {
  border-color: #aaa;
}
