.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px wheat;
  border-right: solid 1px wheat;
  width: 80%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
padding-top: 10px;
padding-bottom: 10px;
}
.themeToggle{
  padding-left: 20px;
  min-width:160px;
  font-size: 10px;

  /* font-size: calc(0.2px + 16 * ((100vw - 320px) / 1280)); */
}

.logoAndSearch {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;

}

.logo {
  width: 60px;
  margin-right: 8%;

}
.searchline {
  width: 50%;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: "Roboto", sans-serif;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.timeItems {
  width: 200px;
  font-size:10px;
  margin-right: 10px;

}

.clockLogo {
  width: 12px;
}



.searchline:hover {
  border-color: #aaa;
}
