 @import '../../mixins.module.scss';

.wrapper {
  @include ligth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px wheat;
  border-right: solid 1px wheat;
  background-color: white;
  width: 70vw;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
padding-top: 10px;
padding-bottom: 10px;
}

.dark,wrapper  {
  @include dark;
}

.themeToggle{
  padding-left: 20px;
  min-width: 160px;
  font-size: 80%;
}

.logoAndSearch {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.logo {
  width: 6%;
  margin-right: 8%;

}
.searchline {
  width: 50%;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgba(0, 0, 0, 0.5);
  @include fn5;
  font-size: 14px;
  color: black;
}
.searchline::placeholder{
  color: black;
}
.timeItems {
  width: 200px;
  margin-right: 10px;
font-size:10px;
font-weight: bold;
}


.clockLogo {
  width: 12px;
}

.searchline:hover {
  border-color: #aaa;
}
