
.modalWrapper{

top: 0;
right: 0;
bottom: 0;
left: 0;

}
.form {
  padding: 2vw;
}

.title {
  font-size: 2vw;
}
.modalWrapper{
  font-size: 2vw;
}
label{
font-size: 2vw;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2vw;
  width: 100%;
}


.modalFooter {
  justify-content: space-between;
}

.errorFrame {
  border: solid 1px red;
}

