.productsContainer {
<<<<<<< HEAD
  padding: 20px;
=======
  padding: 20px 0px 0px 0px ;
>>>>>>> develop
}

.filterSection {
  margin-bottom: 15px;
}

 .productsTable {
  width: 100%;
<<<<<<< HEAD
  border-collapse: separate;
  border-spacing: 8px;
=======
    border-collapse: separate;
   border: 1px solid #dddddd;
>>>>>>> develop
}

.productsTable th,
.productsTable td {
<<<<<<< HEAD
  padding: 15px;
  text-align: center;
  background-color: #ffffff;
=======
  padding: 4px;
  text-align: center;
border: 1px solid #dddddd;
>>>>>>> develop
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.productsTable th {

}

.productsTableWrapper {
  margin-top: 20px;
}

.statusMarkTrue,
.statusMarkFalse {
<<<<<<< HEAD
  width: 20px;
  height: 20px;
=======
  width: 15px;
  height: 15px;
>>>>>>> develop
  border-radius: 50%;

}

.statusMarkTrue {
  background-color: greenyellow;
}

.statusMarkFalse {
  background-color: gray;
}
.statusTextTrue,
.statusTextFalse {
    display: flex;
  align-items: center;
  justify-content: center;

}
.statusTextTrue {
  margin: auto;
  color: greenyellow;
}

.statusTextFalse {
  color: gray;
}

.defaultPrice {
  font-weight: bold;
}

.photo {
  width: 40px;
  height: 40px;
}

.titleAndfilters{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
<<<<<<< HEAD
=======
}

.dateCell{
  width: 110px;
}
.dateCellBig{
   width: 120px;
   font-size: small;
}

.smallDate{
  font-size: small;
>>>>>>> develop
}