
@import '../../mixins.module.scss';

.wrapperProducts {
width: 100%;
padding: 2%;
}

/* ///////////////// */
.titleAndfilters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  text-wrap: nowrap;
}

.productTableTitle {
  font-weight: bold;
  letter-spacing: 2px;
font-size: 1.5vw;

 margin-right: 25px;}

.filterSection {
  margin-right: 15px;
  @include fn2;
}
.filterLabel {
  margin-right: 60px;
  @include fn4;
}


/* ////////TABLE/////////// */

.propductRow {
display: flex;
border-bottom: 1px solid;
align-items: center;
justify-content: space-around;
margin-bottom: 20px;

padding: 0.5vw;
@include ligth;
}
.propductRow:hover{
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);}
.dark, propductRow{
 @include dark;

}


/* //////////cellMArkStatus///////// */
//////////RESIZE TEXT////////
.cellProductName {
  @include centre;
width: 12vw;
 @include fn1;
}
.cellPrice {
  @include centre;
width: 5vw;
@include fn2;
  text-wrap: nowrap;
  text-align: left;

}
.cellSpecification {
  @include centre;
width: 8vw;
 @include fn1
}

.cellManager {
  @include centre;
width: 4vw;
@include fn1

}

.cellOrderTitle {
width: 12vw;
 @include centre;
@include fn1
}



.cellMArkStatus {
 @include centre;

}
.markTrueStatus,
.markFalseStatus {
  width: 0.7vw;
  height:0.7vw;
  border-radius: 50%;
}
.markTrueStatus {
  background-color: greenyellow;
}
.markFalseStatus {
  background-color: gray;
}
/* /////////CellPhoto////////// */
.cellPhoto{
  @include centre;
}
.photo {

  width: 3vw;
}
/* //////////CellProductName///////// */

.SN {
@include fn2;
}
/* /////cellStatusText///// */
.cellStatusText {
  @include centre;
@include fn2;
}

.statusTextTrue,
.statusTextFalse {


}

.statusTextTrue {
  color: rgb(170, 204, 118);
}

.statusTextFalse {
  color: gray;
}

/* //cellGuaranteeDate/// */
.cellGuaranteeDate {
  @include centre;
@include fn1;
  display: flex;
  flex-direction: row;


  text-wrap: nowrap;
}
.garantDateNumbers {

  font-weight: bold;
}

/* ///cellIsNew// */

.cellIsNew {
  @include centre;
@include fn2;

}

/* ///cellPrice// */

.defaultPrice {
text-align: left;
@include fn1;
  font-weight: bold;


}
/* ////////cellSpecification////// */


/* ////////cellOrderDate////// */
.cellOrderDate {
  @include centre;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-wrap: nowrap;
  @include fn2
}
/* ////////cellDeleteIcon////// */
.cellDeleteIcon {

@include right;

}
.cellDeleteIcon:hover {
  cursor: pointer;
  color: red;
}
