@import "../../mixins.module.scss";

.wrapperProducts {
  width: 100vw;
  padding: 2vw;

}

/* ///////////////// */
.titleAndfilters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2vw;
}

.productTableTitle {
 @include fn7;
}

.filterSection {
  margin-right: 5vw;
  @include fn3;
}
.filterLabel {
  margin-right: 1vw;
  @include fn4;
}

/* ////////TABLE/////////// */

.propductRow {
  display: flex;
  border-bottom: 1px solid;
  align-items: center;
  margin-bottom: 0.7vw;
  padding: 0.5vw;
  @include ligth;
}
.propductRow:hover {
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.dark,
propductRow {
  @include dark;

}

/* //////////cellMArkStatus///////// */

.cellMArkStatus {
  @include centre;
}
.markTrueStatus,
.markFalseStatus {
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
}
.markTrueStatus {
  background-color: greenyellow;
}
.markFalseStatus {
  background-color: gray;
}

/* /////////CellPhoto////////// */
.cellPhoto {
  @include centre;
}
.photo {
  width: 3vw;
}

/* //////////cellProductName///////// */
.cellProductName {
  @include centre;
  width: 13vw;
  .productName {
    @include fn1;

  }
}
.SN {
  @include fn2;
}

/* /////cellStatusText///// */
.cellStatusText {
  width: 3vw;
  @include centre;
  @include fn3;
}
.statusTextTrue,
.statusTextFalse {
}
.statusTextTrue {
  color: rgb(170, 204, 118);
}
.statusTextFalse {
  color: gray;
}

/* //cellGuaranteeDate/// */
.cellGuaranteeDate {
  @include centre;
  display: flex;
  flex-direction: row;
justify-content: center;
align-items: center;
  text-wrap: nowrap;
}
.label{
  @include fn4;
}
.garantDateNumbers {
  @include fn3;
  margin-left: 0.5vw;
}

/* ///cellIsNew// */

.cellIsNew {
  @include centre;
  @include fn3;
}
/* //////////cellPrice///////// */
.cellPrice {
  @include centre;
  width: 8vw;
}
.price{
  @include fn4;
}
.defaultPrice {
  @include fn3;
}
/* ////////cellSpecification////// */
.cellSpecification {
  @include centre;
  @include fn5;
    width: 10vw;
}



/* ////////cellManager////// */
.cellManager {
  @include centre;
  @include fn5;
    width: 7vw;
}
/* ////////cellOrderTitle////// */
.cellOrderTitle {
  width: 10vw;
  @include centre;
  @include fn5;
}

/* ////////cellOrderDate////// */
.cellOrderDate {
  @include centre;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.smallDate{
   @include fn4;
}
.bigDate{@include fn3}

/* ////////cellDeleteIcon////// */
.cellDeleteIcon {
  font-size: 1.2vw;
  @include right;
  @include centre;
}

.cellDeleteIcon:hover {
  cursor: pointer;
  color: red;
}
