.productsContainer {
  padding: 20px;
}

.filterSection {
  margin-bottom: 15px;
}

.productsTable {
  width: 100%;
  border-collapse:separate;
  border-spacing: 8px;
}

.productsTable th,
.productsTable td {
  padding: 4px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.productsTable th {
  background-color: #f2f2f2;
}

.productsTableWrapper {
  margin-top: 20px;
}

.statusMarkTrue,
.statusMarkFalse {
  width: 20px;
  height: 20px;
  border-radius: 50%;

}

.statusMarkTrue {
  background-color: greenyellow;
}

.statusMarkFalse {
  background-color: gray;
}
.statusTextTrue,
.statusTextFalse {
    display: flex;
  align-items: center;
  justify-content: center;

}
.statusTextTrue {
  margin: auto;
  color: greenyellow;
}

.statusTextFalse {
  color: gray;
}

.defaultPrice {
  font-weight: bold;
}

.photo {
  width: 40px;
  height: 40px;
}

.titleAndfilters{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}