.wrapperProducts {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
  width: 100%;
}

/* ///////////////// */
.titleAndfilters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  text-wrap: nowrap;
}
/* ////////productTableTitle/////////// */
.productTableTitle {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-right: 25px;
}
.filterSection {
  margin-right: 60px;
}
.filterLabel {
  margin-right: 15px;
}

/* ////////TABLE/////////// */
.productsTableWrapper {
}
.productsTable {
  width: 100%;

}

.propductRow {
  display: flex;
  border: solid rgb(192, 192, 192) 0.1rem;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

/* //////////cellMArkStatus///////// */
.cellMArkStatus {
  margin-left: 10px;
  margin-right: 10px;
  width: 1.5%;
}
.markTrueStatus,
.markFalseStatus {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.markTrueStatus {
  background-color: greenyellow;
}
.markFalseStatus {
  background-color: gray;
}
/* /////////CellPhoto////////// */
.cellPhoto {

}
.photo {
  width: 40px;
}
/* //////////CellProductName///////// */
.cellProductName {
  padding-right: 10px;
  width: 150px;
  min-width: 150px;
  margin-left: 10px;
}

.productName {
  color: black;
  font-size: 10px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(192, 192, 192);
  text-decoration-thickness: 0.4px;
}

.SN {
  font-size: 10px;
  color: rgb(192, 192, 192);
  font-weight: bold;
}
/* /////cellStatusText///// */
.cellStatusText {
  margin-right: 10px;
  width: 34px;
}
.statusTextTrue,
.statusTextFalse {
  font-size: 10px;
  text-align: center;
}

.statusTextTrue {
  color: rgb(170, 204, 118);
}
.statusTextFalse {
  color: gray;
}

/* //cellGuaranteeDate/// */
.cellGuaranteeDate {
  font-size: 8px;
  margin-left: 10px;
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: gray;
  text-wrap: nowrap;
}
.garantDateNumbers {
  font-size: 10px;
  margin-left: 5px;
  font-weight: bold;
}

/* ///cellIsNew// */

.cellIsNew {
  margin-left: 10px;
  color: gray;
  width: 23px;
  font-size: 10px;
  text-align: left;
}

/* ///cellPrice// */
.cellPrice {
  color: gray;
  text-wrap: nowrap;
  font-size: 12px;
  margin-left: 10px;
  width: 110px;
  min-width: 110px;
  text-align: left;
}
.defaultPrice {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  color: gray;
}
/* ////////cellSpecification////// */

.cellSpecification {
  font-size: 10px;
  margin-left: 10px;
  color: gray;
  width: 100px;
  min-width: 100px;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(192, 192, 192);
  text-decoration-thickness: 1px;
}
/* ////////cellManager////// */
.cellManager {
  font-size: 10px;
  margin-left: 10px;
  color: gray;

  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(192, 192, 192);
  text-decoration-thickness: 1px;
  width: 100px;
  min-width: 100px;
}
/* ////////cellOrderTitle////// */
.cellOrderTitle {
  font-size: 10px;
  margin-left: 10px;
  color: gray;
  width: 150px;
  min-width: 150px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(192, 192, 192);
  text-decoration-thickness: 1px;
}

/* ////////cellOrderDate////// */
.cellOrderDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 73px;

  color: gray;
  font-size: 10px;
  font-weight: bold;
  text-wrap: nowrap;
}
/* ////////cellDeleteIcon////// */
.cellDeleteIcon {
  margin-left: 10px;
  color: grey;
  margin-right: 10px;
  width: 1%;

  text-align: right;
}
.cellDeleteIcon:hover {
  cursor: pointer;
  color: red;
}
