.wrapperProducts {
  padding: 20px;

}

.titleAndfilters {
  display: flex;
  flex-direction: row;

}
.productTitle{
  font-size: 30px;
  margin-top: 15px;
  font-weight:bold;
  letter-spacing:2px;
}
.filterSection {
  margin: 0px 30px 0px 30px;
}

.productsTable {
  width: 100%;
  border-collapse: separate;
  border: 1px solid #dddddd;
}

.productsTable th,
.productsTable td {
  padding: 4px;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productsTable th {
}

.productsTableWrapper {
  margin-top: 20px;
}

.statusMarkTrue,
.statusMarkFalse {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.statusMarkTrue {
  background-color: greenyellow;
}

.statusMarkFalse {
  background-color: gray;
}
.statusTextTrue,
.statusTextFalse {
  display: flex;
  align-items: center;
  justify-content: center;
}
.statusTextTrue {
  margin: auto;
  color: greenyellow;
}

.statusTextFalse {
  color: gray;
}

.defaultPrice {
  font-weight: bold;
}

.photo {
  width: 40px;
  height: 40px;
}

.dateCell {
  width: 110px;
}
.dateCellBig {
  width: 120px;
  font-size: small;
}

.smallDate {
  font-size: small;
}
