
 @import '../../mixins.module.scss';

.wrapperSidebarAndContent {
  display: flex;
  flex-direction: row;
background-color: rgb(237, 236, 236);
}


.sidebarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  letter-spacing: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-right: solid 1px wheat;
  padding-left: 10px;
  padding-right: 10px;
   transition: background-color 3s, color 3s;
background-color: white;

}

.dark,sidebarWrapper {
background-color: rgb(61, 58, 41);
 transition: background-color 3s, color 3s;
}
.avatarAndSettings{
position: relative;
margin-bottom: 50px;
}

.avatar {
  margin-top: 30px;
  width: 90px;
  border-radius: 50%;

}
.settingBtn {
  width: 40px;
  position: absolute;
  top: 90px;
  left: 60px;
  border-radius: 50%;
  transition: width 0.5s ease;
  border: solid 1px;
}
.settingBtn:hover {
  width: 45px;
}

.sidebarlinks {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100vh;
  text-align: center;

}

.link,
.linkActive {
  margin-top: 15px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
color: black;
 transition: background-color 3s, color 3s;
}
.dark, link, linkActive{
color:wheat;
 transition: background-color 3s, color 3s;
}


.linkActive {
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

.sidebarBtn {
}


.themeBlock {
  font-size: small;
}

.link:hover{
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}