.wrapper {
  display: flex;
  flex-direction: row;
}
.avatarAndLinks {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #ddd;
  padding: 30px;
}

.avatar {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  position: relative;
}
.settingBtn {
  width: 40px;
  position: absolute;
  top: 230px;
  left: 100px;
  border-radius: 50%;
  transition: width 0.5s ease;
  border: solid 1px;
}
.settingBtn:hover {
  width: 60px;
}

.sidebarlinks {
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.sidebarBtn{
  margin-top:40px;
  width: 100px;
}
.themeBlock{
  
  font-size: small;
}