
.modalWrapper{

top: 0;
right: 0;
bottom: 0;
left: 0;

}

.modalFooter{
  background-color: green;
}

.image{
    width: 80px;
}

.statusTextTrue {
  margin: auto;
  color: greenyellow;
}

.statusTextFalse {
  color: rgb(224, 25, 25);
}