
/*  @include ligth;    */
@mixin ligth {
   transition: background-color 3s, color 3s;
      background-color: rgb(231, 230, 230);
      color: grey;
}
/* @include dark;  */
@mixin dark {
  background-color: rgb(61, 58, 41);
    color:wheat
}
/*  @include fn1   */
/*  name, default price,  */
@mixin fn1 {
  font-size:0.7vw;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(192, 192, 192);
  text-decoration-thickness: 0.4px;
  text-align: left;
}



/* @include fn2; */
/*  status, condition,date, filterSection,  */
@mixin fn2 {

font-size: 0.7vw;
  color: rgb(192, 192, 192);
  font-weight: bold;
}

/* @include fn3;  */
/*  manager Name, order name, description   */
@mixin fn2 {
font-size: 0.7vw;
  color: rgb(192, 192, 192);
  font-weight: bold;
}
/* @include fn4;  */
/*  usd price, mounth/year / from to guarantee, top menu date, filterLabel  */
@mixin fn4 {
font-size: 0.7vw;
  color: rgb(192, 192, 192);
  font-weight: bold;
}

/* @include fn5;  */
/*  sidebar, search line, */
@mixin fn5 {

font-size: 0.7vw;
  color: rgb(192, 192, 192);
  font-weight: bold;
}

/* @include fn6;  */
/*  productTableTitle */
@mixin fn6 {
 font-weight: bold;
  letter-spacing: 3px;
font-size: 1.5vw;
  color: black;

}


/* @include centre; */
@mixin centre {
margin-left: 1vw;
}

/* @include ; */
@mixin right {
margin-right: 1vw;
}
