

.wrapper {
  font-family: 'Arial', sans-serif;
  width: 100%;

}

h2 {
  color: #333;
}

.ordersAndProducts {
  display: flex;

  padding: 10px;

}

.ordersTableWrapper {

}

.halfWidth {
    width: 400px;
padding-right: 10px;
}

.fullWidth {

width: 100%;
border: solid white;

}

.table {
width: 100%;
    border-collapse: separate;

   border-top: 1px solid #dddddd;
  padding: 8px;
}

.table td {


   border-bottom: 1px solid #dddddd; /* Устанавливаем нижнюю границу для ячеек */
  padding: 8px;
  text-align: center;
}

.titleAndshowbnt {

}

.showHide {
  transform: translateY(-50%);
  color: #007bff;
  cursor: pointer;
}

.delBtn {

  background-color: #dc3545;
  color: #fff;
  border: none;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delBtn:hover {
  background-color: #c82333;
}
.showBtn{
background-color: #2a36e9;
  color: #fff;
  border: none;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.showBtn:hover {
  background-color: darkblue;
}


.productsTableWrapper {

  overflow: auto;
}

.productsTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.photo {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
}

.statusMarkTrue,
.statusMarkFalse {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  margin-right: 5px;
}

.statusMarkTrue {
  background-color: #28a745; /* Green */
}

.statusMarkFalse {
  background-color: #dc3545; /* Red */
}

.statusTextTrue {
  color: #28a745; /* Green */
}

.statusTextFalse {
  color: #dc3545; /* Red */
}

