.wrapper {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 40px;
  width: 100%;


}
.addBtnAndOrderTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  text-wrap: nowrap;
}

.addOrderBtn {
  font-size: 25px;
  margin-right: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);
  color: green;
  border-radius: 50%;
}

.addOrderBtn:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}

.addOrderBtn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.orderTitle {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-right: 25px;
}
.ordersTableWrapper{
  display: flex;
  flex-direction: row;


}
/* ///////////cellhalfWidthOrderRow////////// */
.cellhalfWidthOrderRow {
  display: flex;
  border: solid rgb(192, 192, 192) 1px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: grey;

}

.cellhalfWidthOrderRow:hover{
box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);
}


.fullWidthTable {
width: 100%;
}

.halfWidthTable {




}

.halfWidthOrderRow {
  display: flex;

  border: solid rgb(192, 192, 192) 0.1rem;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: white;

}

.halfWidthOrderDescripton {
  width: 400px;
  min-width: 400px;
  margin-left: 10px;
  color: rgb(96, 96, 96);
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: rgb(192, 192, 192);
  text-decoration-thickness: 0.4px;
}

.cellShowBtnAndProdutc {
  display: flex;
  justify-content: center;
  align-items: center;
width: 120px;
margin-left: 20px;
}
.showProductBtn {
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  border-radius: 50%;
  border: solid 1px rgb(190, 189, 189);


}
.showProductBtn:hover{
cursor: pointer;
}
.amountAndProductWrapper{
  margin-left: 20%;
}
.amountProductTitle {
  font-size: 14px;
  font-weight: bold;


}
.titProduct {
font-size: 10px;
}
.cellHalfDate {
  font-size: 8px;
  margin-left: 10px;
  width: 85px;
text-align: center;
  color: gray;
  text-wrap: nowrap;
}
.smallDate {

}
.bigDate{
    font-size: 12px;
  margin-left: 5px;
  font-weight: bold;
}
.cellPrice {
  color: gray;
  text-wrap: nowrap;
  font-size: 13px;
  margin-left: 10px;
  width: 110px;
  min-width: 110px;
  text-align: left;

}
.defaultPrice {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: gray;
}



/* ////////cellDeleteIcon////// */
.cellDeleteIcon {
  margin-left: 10px;
  color: grey;
  margin-right: 10px;
  width: 1%;

  text-align: right;
}
.cellDeleteIcon:hover {
  cursor: pointer;
  color: red;
}
.arrowWrapper{
  background-color: rgb(191, 191, 191);

  width: 30px;
  height: 40px;
  text-align: center;
}
.arrowBtn:hover{
cursor: pointer;
}
/* ///////////CHILD COMPONENT/////////////// */
.childComponentWraper{
  display: flex;
  flex-direction: column;
margin-left: 20px;
  background-color: white;
border: solid rgb(192, 192, 192) 1px;

padding: 30px;

width: 700px;
}
.childOrderDescriptionAndCloseBtn{
position: relative;


}
.closeProductBtn{
  position: absolute;
  top:-30px;
  right: -20px;
  font-size: 35px;
filter: drop-shadow(1px 3px 3px #000);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  color: white;
  border-radius: 50%;

}
.closeProductBtn:hover{
  filter: drop-shadow(1px 1px px #000);
  cursor: pointer;
}
.fullWidthOrderDescripton {
 margin-bottom: 20px;
 margin-left: 20px;
  color: rgb(96, 96, 96);
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: rgb(192, 192, 192);
  text-decoration-thickness: 0.4px;


}
.addProdutnAndTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  font-size: 12px;
   color: green;
   margin-bottom: 20px;
}
.addProductBtn {
  font-size: 25px;
  margin-right: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);
  color: green;
  border-radius: 50%;
}

.addProductBtn:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}

.addProductBtn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.productsTable{
   width: 100%;
}

.childTableRow{
    display: flex;
  border-bottom: solid rgb(192, 192, 192) 0.1rem;
  margin-bottom: 15px;
  align-items: center;




}



/* //////////cellMArkStatus///////// */
.cellMArkStatus{
  width: 5%;
}
.markTrueStatus,
.markFalseStatus {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.markTrueStatus {
  background-color: greenyellow;
}
.markFalseStatus {
  background-color: gray;
}
/* /////////CellPhoto////////// */
.cellPhoto {
width: 40px;

}
.photo {
  width: 40px;
}
/* //////////CellProductName///////// */
.cellProductName {
  padding-right: 10px;
width: 400px;

  margin-left: 10px;
}

.productName {
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(192, 192, 192);
  text-decoration-thickness: 0.4px;
}

.SN {
  font-size: 10px;
  color: rgb(192, 192, 192);
  font-weight: bold;
}
/* /////cellStatusText///// */
.cellStatusText {
  margin-right: 10px;
width: 35px;
}

.statusTextTrue,
.statusTextFalse {
  font-size: 12px;
  text-align: center;
}

.statusTextTrue {
  color: rgb(170, 204, 118);
}

.statusTextFalse {
  color: gray;
}
