.wrapper {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 40px;
  width: 100%;
}
.addBtnAndOrderTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  text-wrap: nowrap;
}
.addBtn {
  font-size: 40px;
  margin-right: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);
  color: green;
  border-radius: 50%;
}

.addBtn:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}

.addBtn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.orderTitle {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-right: 25px;
}

/* ///////////cellhalfWidthOrderRow////////// */
.cellhalfWidthOrderRow {
  display: flex;
  border: solid rgb(192, 192, 192) 0.1rem;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.cellhalfWidthOrderRow:hover{
box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);


}

.fullWidthTable {
  width: 100%;
}

.halfWidthTable {
  width: 30%;

}

.halfWidthOrderRow {
  display: flex;
  border: solid rgb(192, 192, 192) 0.1rem;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.halfWidthOrderDescripton {
  width: 400px;
  min-width: 400px;
  margin-left: 10px;
  color: rgb(96, 96, 96);
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: rgb(192, 192, 192);
  text-decoration-thickness: 0.4px;

}

.cellShowBtnAndProdutc {
  display: flex;
  justify-content: center;
  align-items: center;
 width: 82px;
}
.showProductBtn {
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  border-radius: 50%;
  border: solid 1px rgb(190, 189, 189);
  margin-right: 10px;
}
.showProductBtn:hover{
cursor: pointer;
}

.amountProductTitle {
  font-size: 14px;
  font-weight: bold;

}
.titProduct {
font-size: 10px;
}
.cellHalfDate {
  font-size: 8px;
  margin-left: 10px;
  width: 85px;
text-align: center;
  color: gray;
  text-wrap: nowrap;
}
.smallDate {

}
.bigDate{
    font-size: 12px;
  margin-left: 5px;
  font-weight: bold;
}
.cellPrice {
  color: gray;
  text-wrap: nowrap;
  font-size: 13px;
  margin-left: 10px;
  width: 110px;
  min-width: 110px;
  text-align: left;

}
.defaultPrice {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: gray;
}



/* ////////cellDeleteIcon////// */
.cellDeleteIcon {
  margin-left: 10px;
  color: grey;
  margin-right: 10px;
  width: 1%;

  text-align: right;
}
.cellDeleteIcon:hover {
  cursor: pointer;
  color: red;
}
.arrowWrapper{
  background-color: rgb(191, 191, 191);

  width: 30px;
  height: 40px;
  text-align: center;
}
.arrowBtn{

}