@import "../../mixins.module.scss";

.oredrsWrapper {
  width: 100vw;
  padding: 2vw;
}
.dark,
oredrsWrapper {
  @include dark;
}
.addBtnAndOrderTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2vw;
}

.addOrderBtn {
  font-size: 3vw;
  margin-right: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);
  color: green;
  border-radius: 50%;
}

.addOrderBtn:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}

.addOrderBtn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.orderTitle {
  @include fn7;
}

///////FW tablesWrapper//////
.tablesWrapper {
  display: flex;
  flex-direction: row;
}
.ordersTable {
  width: 100%;
}

.halfRows,
.fullRows {
  display: flex;
  flex-direction: row;
  border-bottom: solid 0.1vw;
  justify-content: space-between;
  margin-bottom: 1vw;
  align-items: center;
  @include ligth;
  padding-left: 1vw;

}

.fullRows:hover {
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.halfRows:hover {
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);
}

.darkR,
halfRows,
fullRows {
  @include dark;
}

.darkR,
fullRows {
  @include dark;
}
///////FW orderDescripton//////

.orderDescripton {
  @include fn8;
  width: 30vw;
}

/////// FW cellShowBtnAndProdutc////////
.cellShowBtnAndProdutc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
}
.showProductBtn {
  width: 2.5vw;
  height: 2.5vw;
  padding: 0.5vw;
  font-size: 5vw;
  border-radius: 50%;
  border: solid 1px rgb(190, 189, 189);
}
.showProductBtn:hover {
  cursor: pointer;
}

//////FW amountAndProductWrapper
.amountAndProductWrapper {
  margin-left: 2vw;
}

.amountProductTitle {
  font-size: 1.2vw;
}
.titProduct {
  @include fn5;
}
//////////cellFDate///////////////////////////
///
.cellFDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.smallDate {
  @include fn2;
}
.bigDate {
  @include fn5;
}
/////////////////
.cellPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  @include fn3;
}
.defaultPrice {
  @include fn5;
}
.price {
  @include fn2;
}

/* ////////cellDeleteIcon////// */
.cellDeleteProduct {


}
.delOrderBtn{
    font-size: 1.5vw;
  text-align: right;
  margin-right: 1vw;
}
.cellDeleteIcon:hover {
  cursor: pointer;
  color: red;
}

.arrowWrapper {
  background-color: rgb(191, 191, 191);
font-size: 2vw;
}
.arrowBtn {
font-size: 2vw;
  text-align: center;
}
.arrowBtn:hover {
  cursor: pointer;
}

/* ///////////productContainer /////////////// */
.productContainer {
}

.productWrapper {

  margin-left: 1vw;
  transition: background-color 3s, color 3s;
}
.dark,
productWrapper {
  @include dark;
}

.descriptionAndCloseBtn {
  position: relative;
}
.closeProductBtn {
  position: absolute;
  top: -3vw;
  right: -1vw;
  font-size: 3vw;
  filter: drop-shadow(1px 3px 3px #000);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  color: white;
  border-radius: 50%;
}
.closeProductBtn:hover {
  filter: drop-shadow(1px 1px px #000);
  cursor: pointer;
  font-size: 4vw;
}
.prOrderDescripton {
  padding: 1vw 2vw;
  @include fn5;
  text-decoration: underline;
  text-decoration-color: rgb(192, 192, 192);
  text-decoration-thickness: 0.4px;
}

.addProdutnAndTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2vw;
  color: green;
}
.addProductBtn {
  font-size: 2vw;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);
  color: green;
  border-radius: 50%;
  margin: 0vw 1vw 0vw 1vw;
}

.addProductBtn:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}

.addProductBtn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
//////////////////////////////////
.productsTable {

   margin-top: 1vw;
}
.childTableRow {
 @include ligth;
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1vw;
  border-bottom: solid 0.1vw;
}
.dark,childTableRow{
 @include dark;
}
/* //////////cellMArkStatus///////// */
.cellMArkStatus {
  width: 2vw;
  @include centre;
}
.markTrueStatus,
.markFalseStatus {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
}
.markTrueStatus {
  background-color: greenyellow;
}
.markFalseStatus {
  background-color: gray;
}
/* /////////CellPhoto////////// */
.cellPhoto {
  @include centre;

}
.photo {
  width: 3vw;
}
/* //////////CellProductName///////// */
.cellProductName {
  @include centre;
  width: 27vw;
}

.productName {
  font-size: 1vw;

  text-decoration: underline;
  text-decoration-color: rgb(192, 192, 192);
  text-decoration-thickness: 0.4px;
}

.SN {
  font-size: 1vw;
  color: gray;
}
/* /////cellStatusText///// */
.cellStatusText {
  @include centre;
  @include fn5;
  text-align: center;
  width: 2vw;
}

.statusTextTrue {
  color: rgb(170, 204, 118);
}

.statusTextFalse {
  color: gray;
}
.delBtn {
  margin-left:8vw;
  font-size: 1.5vw;
}
.cellDeleteProduct {

}
.cellDeleteProduct:hover {
  color: red;
  cursor: pointer;
}
